/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Lecend Decal", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}

img {
    width: 100px;
}


h2 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 0;
    line-height: 1.5;
}

.cards {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0% 0%;
}
.sedan .btn {
    color: hsl(31, 77%, 52%);
}

.suv {
    background-color: hsl(184, 100%, 22%);
}
.suv .btn {
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0% 0% 10px 10px;
}
.luxury .btn {
    color: hsl(179, 100%, 13%);
}



.cards-components {
    width: 70%;
    max-width: 400px;
    margin: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.btn {
    padding: 15px 40px;
    border-radius: 40px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 15px;
    margin-top: 30px;
}

.btn:hover {
    background-color: hsl(0, 0%, 85%);
    border: 2px solid hsl(0, 0%, 85%);
}

.btn:active {
    background-color: #ffffff00;
    color: white;
}

@media (min-width: 750px) {
    .main-container {
        display: flex;
        max-width: 900px;
        margin: 0 auto;
        height: 100vh;
        align-items: center;
    }

    .luxury {
        border-radius: 0% 10px 10px 0%;
    }

    .sedan {
        border-radius: 10px 0% 0% 10px;
    }

    .cards {
        height: 70vh;
    }

}